# Week 09

---

# Dictionary
ex) < 영어 사전 >  
   ㅤ   ㅤ 단어: 뜻  
    ㅤ ㅤkey : value    
- 타입: **dict**  
- 형변환: `dict()`  
- 순서가 없다.  
    => 인덱싱이 불가능하다.  

- key로 value를 찾는다.  
    => 키는 중복되지 않는 고유한 값이기 때문  
- 가변적이다  
    => 수정, 삭제, 추가 가능  

- 중괄호 사용 {}, 콤마로 구분한다.  
- 값에 다양한 자료구조가 올 수 있다.  
    - a: 1, a: [1, 2, 3, 4]

ㅤ      
### **# 자료형 선언하기**

In [19]:
# dict()
empty1 = dict()
empty2 = {}

print(type(empty1))
print(type(empty2))


# set을 선언하려면 set()
empty3 = set()
print(type(empty3),'\n')

<class 'dict'>
<class 'dict'>
<class 'set'>

In [21]:
# 1.
a = {1:'dog', 2:'cat', 3:'tanuki'}

# 2.
b = dict(apple='a', banana='b', kiwi= 'c')

print(a)
print(b)

{1: 'dog', 2: 'cat', 3: 'tanuki'}
{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

ㅤ        
### # Quiz 1
- 출석부로 딕셔너리 만들기

이름, 학번, 학과  
  
james / 202201 / 경제학과  
laura / 202203 / 스페인어과  
louis / 202202 / 컴공과

In [28]:
# 이름은 중복이 존재할 수 있으므로 고유한 학번을 기준으로 잡는다.

attendance = {202201 : ('james', '경제학과'), 202202 : ('louis', '컴공과'), 202203 : ('laura', '스페인어과')}
attendance

{202201: ('james', '경제학과'),
 202202: ('louis', '컴공과'),
 202203: ('laura', '스페인어과')}

<br><br>
# **형 변환**


### **# 중복되는 key값**

In [31]:
ex1 = [[1, 2], [2, 3], [3, 4]]
print(dict(ex1))

ex2 = [(1, 2), (2, 3), (1, 3)]  # key 중복 시 마지막 key 기준으로 value가 설정이 된다.
print(dict(ex2))

{1: 2, 2: 3, 3: 4}
{1: 3, 2: 3}

ㅤ      
### **# 자동 key, value값 할당**

In [35]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

In [47]:
# 3자리부터는 오류가 발생

ex4 = ['abc', 'bcc', 'cdc']
dict(ex4)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

ㅤ      
### **# key값에 대응하는 value값 반환**

In [126]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}
pythons['Cleese']

'John'

ㅤ      
### **# 변경**

In [49]:
pythons['Idle'] = 'James'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

ㅤ      
### **# 추가**

In [127]:
# 없는 키 값을 참조할 경우 에러 발생
    
pythons['Hwa'] = 'Chloe'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

ㅤ      
### **# 에러 방지**

In [53]:
# 1. in
'Hwa' in pythons

True

In [63]:
# 2. get() 
pythons.get('Lee', 'Not Found') # 원하는 반환값 설정 가능

'Not Found'

In [64]:
type(pythons.get('Lee')) # default: None 반환

NoneType

<br><br>
# **전체 조회**
- `keys()`  

- `values()`
- `items()`

ㅤ      
### **# key 출력**

In [65]:
pythons.keys()

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [69]:
list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

ㅤ      
### **# value 출력**

In [66]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

ㅤ      
### **# (key, value) 출력**

In [68]:
# (키, 값) 튜플 형태로 => 순회할 때 많이 씀

pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

ㅤ      
### **# 순회**

In [88]:
for k, v in pythons.items():
    print(f'{k} = {v}')
    
print('\n')

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [89]:
# List Comprehension 활용

[(k, v) for k, v in pythons.items()]

print('\n')

In [90]:
# 0 = key, 1 = value

[k[1] for k in pythons.items()]

print('\n')

In [87]:
# 특별히 명시를 하지 않으면 key값을 출력한다.

[k for k in pythons]

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

ㅤ        
### # Quiz 2
- animal: num_leg 라는 딕셔너리를 만드시오.      

        animal = 'cat snake monkey ant spider'.split()  
        legs = 4, 0, 2, 4, 8

In [105]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [104]:
# 1. range() 활용

num_leg = {}
for i in range(len(animal)):
    num_leg[animal[i]] = legs[i]
num_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [106]:
# 2. zip() 활용

num_leg = {}
for animal, legs in zip(animal, legs):
    num_leg[animal] = legs
num_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

ㅤ        
### # Quiz 3
- pythons 에서 성: 이름 / 성 첫 글자만 / 이름은 글자 개수로 이뤄진 튜플 (성, 이름) 리스트로 반환하기  
    (dict comprehension 쓰지 말기)

In [128]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [121]:
# 1. 빈 리스트와 append() 활용

roster = []
for k, v in pythons.items():
    roster.append((k[0], len(v)))
roster

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [118]:
# 2. item에서의 key, value를 가져가기

[(key[0], len(value)) for key, value in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [114]:
# 3. item 전체를 가져가서 indexing 하는 방식

[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

<br><br>
## **값 수정, 삭제, 복제, 비교**

### **# 값 수정**

In [124]:
others = {
    'Marx' : 'Groucho',
    'Howard': 'Moe'
}

pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [129]:
# python 3 이상

{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

ㅤ      
### **# 삭제**

In [147]:
# del : 값이 존재하지 않으면 에러 발생

del pythons['Lee']

KeyError: 'Lee'

In [148]:
# pop() : 예외는 나지만, 예외시 출력 값을 지정할 수 있다.

pythons.pop('Lee', 'Error')

print('\n')

In [145]:
# 전체 삭제

# 1
pythons.clear()

# 2
pythons = {}
pythons

{}

ㅤ      
### **# 복제**

- 할당: b = a  

- 얕은 복사: c = a.copy()
- 깊은 복사:  
    `import copy`  
    `.deepcopy()`

In [156]:
# 할당 : 같이 변경된다.

a = {1:1, 2:2, 3:3}
b = a

a[1] = 45

print(a)
print(b)

print('\n')

{1: 45, 2: 2, 3: 3}
{1: 45, 2: 2, 3: 3}

In [163]:
# 얕은 복사 : .copy()

a = {1:1, 2:2, 3:3}
c = a.copy()

a[2] = 22

print(a)
print(c)

print('\n================\n')

a = {1: [1, 2, 3], 2: [2, 3, 4]}
d = a.copy()

a[1][0] = 100

print(a)
print(d)

print('\n')

{1: 1, 2: 22, 3: 3}
{1: 1, 2: 2, 3: 3}

================

{1: [100, 2, 3], 2: [2, 3, 4]}
{1: [100, 2, 3], 2: [2, 3, 4]}

In [162]:
# 깊은 복사 : .deepcopy()

import copy

a = {1: [1, 2, 3], 2: [2, 3, 4]}
e = copy.deepcopy(a)

a[1][0] = 200

print(a)
print(e)

{1: [200, 2, 3], 2: [2, 3, 4]}
{1: [1, 2, 3], 2: [2, 3, 4]}

ㅤ      
### **# 비교**
- 같다, 다르다만 가능
- 크다, 작다는 비교 불가

In [164]:
a != e

True

ㅤ        
### # Quiz 4
1. 두 리스트로 하나의 딕셔너리 생성
2. '명왕성' 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    del dict1['태양'] (x)

4. sorted 이용해서 값 정렬하기
    - key
    - value

In [198]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [196]:
# 명왕성 추가하기

system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
system['명왕성'] = 'pluto'
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [197]:
# 1. 키 삭제하기

for solar in list(system.keys()):  # list 형변환을 꼭 해야 원본(system)을 훼손하지 않을 수 있다.
    if solar[-1] != '성':
        del system[solar]

system

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [199]:
# 2. 키 제외시키기

dict([(k, system[k]) for k in system if k.endswith('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [200]:
# 3. Dictionary Comprehension

{k: v for k, v in system.items() if k.endswith('성')}

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

<br><br>
## **Dictionary Comprehension**

In [202]:
# [] 대신 {}, : 사용

letter = 'apple'

{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

ㅤ      
### **# 단어의 모음세기**

In [205]:
vowels = 'aeiou'
word = 'onomatopoeia'

In [207]:
# vowels 순회

{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [208]:
# word 순회

{w: word.count(w) for w in set(word) if w in vowels}

{'o': 4, 'a': 2, 'e': 1, 'i': 1}

<br><br>
# **sorting**

In [209]:
def fx(x):
    return x[1]

In [212]:
# fx(system.items()) ... system.items() 튜플의 [1] 을 기준으로 sort

sorted(system.items(), key=fx)

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

ㅤ      
### **# lambda**

In [214]:
# lambda를 활용하면 위의 과정을 간략화할 수 있다.

sorted(system.items(), key=lambda x: x[1])

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

<br><br>
# **set**
- "중복이 없다"  

- 수학에서의 집합이랑 동일한 개념  
    => 교집합, 차집합, ...
- 인덱싱도 없다. (순서, 중복이 없으므로)

### **# 선언하기**

In [216]:
# WRONG
empty = {}
print(type(empty))

# CORRECT
empty = set()
print(type(empty))

print('\n')

<class 'dict'>
<class 'set'>

In [222]:
# WRONG
a = set(1, 2, 3)

TypeError: set expected at most 1 argument, got 3

In [223]:
# CORRECT
a = set((1, 2, 3)) # 선언, 형 변환
a

{1, 2, 3}

ㅤ      
### **# 추가,  삭제**

In [227]:
# 추가
a.add(4)
print(a)

# 삭제
a.remove(4)
print(a)

{1, 2, 3, 4}
{1, 2, 3}

ㅤ      
### **# 합집합, 교집합**

In [230]:
a = {1,2,3}
b = {2,3,4}

# 교집합 | intersection
a.intersection(b)
a & b
print(f'a & b : {a & b}')

# 합집합 | union
a.union(b)
a | b
print(f'a | b : {a | b}')

# 차집합 | difference
a.difference(b)
a - b, b - a

print(f'a - b : {a - b}')
print(f'b - a : {b - a}')

a & b : {2, 3}
a | b : {1, 2, 3, 4}
a - b : {1}
b - a : {4}

ㅤ      
### **그 외 집합 함수들**

`issubset`

In [250]:
A = {1, 2, 3}
B = {1, 2, 3, 4}

print(f'Is A a subset of B? : {A.issubset(B)}\n')

Is A a subset of B? : True

`frozenset`
- set은 새로운 값의 추가 또는 삭제가 가능하지만, frozenset은 불가능하다.

In [259]:
C = set([1, 2])
D = frozenset([1, 2])

C.add(3)
D.add(3)

AttributeError: 'frozenset' object has no attribute 'add'

ㅤ        
### # Quiz 5
- vodka가 포함된 술 출력하기  

- vodka는 있지만 cream, vermouth 없는 술을 출력하기

In [242]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahula', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}
print('\n')

In [244]:
# 1.

for name, liquid in drinks.items():
    if 'vodka' in liquid:
        if 'vodka' in liquid and not ('cream' in liquid or 'vermouth' in liquid):
            print(f'{name}: no cream and vermouth')
        else:
            print(name)

martini
black russian: no cream and vermouth
white russian
screwdriver: no cream and vermouth

In [245]:
# 2. set을 활용해서 바꾸기

for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

black russian
screwdriver

---

# **pylint**
- 코드 점검을 도와주는 툴
- 오류 부분을 라인별로 체크하고 총 점수를 계산

In [266]:
# !pip install pylint
# !pylint example.py -rn --max-line-length=79 --generate-rcfile > myconfig.pylintrc
# !pydocstyle 파일명.py

ㅤ      
# **pydocstyle**
- docstring 점검을 도와주는 툴

In [267]:
# !pip install pydocstyle
# !pydocstyle 파일명.py